{# Ruta: templates/users/password_reset_email.html #}
{% autoescape off %}
Hola {{ user.get_short_name }},

Has solicitado restablecer la contraseña de tu cuenta en Estudia Rápido.

Para completar el proceso, por favor haz clic en el siguiente enlace:
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Este enlace solo puede utilizarse una vez. Si necesitas restablecer tu contraseña nuevamente, por favor visita {{ protocol }}://{{ domain }}{% url 'users:password_reset' %} y solicita un nuevo enlace.

Si no solicitaste este restablecimiento de contraseña, puedes ignorar este correo electrónico.

Atentamente,
El equipo de Estudia Rápido
{% endautoescape %}